size(n)
	width n
	height n
	
for num in (1..25)
	.card.w{num}
		size((100 / num - 2.5)%)

.card.opened
	opacity: 0.3

for num in (2..4)
	.card.opened{num}
		colorNum = 255 - (255 / 3 * (num - 1))
		border-color: rgb(colorNum,colorNum,colorNum)
